[include]
	path = ~/.gitconfig.os

[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKBASQWjEFevq1IhdQ2aft+weTImIFDfrjPKKOBiqL8r
	email = 53385458+Kigou-No1@users.noreply.github.com
	name = Kigou-No1

[commit]
	gpgsign = true

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = /Users/hadzuki/.ssh/allowed_signers

[color]
    diff = auto
    status = auto
    branch = auto
    ui = true

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[core]
	editor = code-insiders
