{{- $username := promptStringOnce . "username" "What is your username" -}}
{{- $performInitialize := promptBoolOnce . "performInitialize" "Do you want to perform initialization of your environment" -}}

[data]
    username = {{ $username | quote }}
    performInitialize = {{ $performInitialize }}

[edit]
    command = "code-insiders"
    args = ["--wait"]