[user]
	name = Kigou-No1
	email = 53385458+Kigou-No1@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKBASQWjEFevq1IhdQ2aft+weTImIFDfrjPKKOBiqL8r

[gpg]
	format = ssh

[gpg "ssh"]
	{{- if eq .chezmoi.os "windows" }}
	program = "C:\\Users\\{{ .username}}\\AppData\\Local\\1Password\\app\\8\\op-ssh-sign.exe"
	{{- end}}

	{{- if eq .chezmoi.os "darwin" }}
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
	{{- end}}

	{{- if eq .chezmoi.os "linux" }}
	{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
	program = "/mnt/c/Users/{{ .username}}/AppData/Local/1Password/app/8/op-ssh-sign-wsl"
	{{   end}}
	{{- end}}

[commit]
	gpgsign = true

[color "branch"]
    current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[core]
	editor = nvim 
	{{- if eq .chezmoi.os "linux" }}
	{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    {{      if isExecutable "/mnt/c/Program Files/OpenSSH/ssh.exe" }} 
    sshCommand = '/mnt/c/Program Files/OpenSSH/ssh.exe'
    {{      else }}
    sshCommand = '/mnt/c/Windows/System32/OpenSSH/ssh.exe'
    {{      end }}
	{{   end}}
	{{- end}}
	{{if eq .chezmoi.os "windows" }}
	{  if isExecutable "C:\\Program Files\\OpenSSH\\ssh.exe" }
	sshCommand = 'C:\\Program Files\\OpenSSH\\ssh.exe'
	{  else }
	sshCommand = 'C:\\Windows\\System32\\OpenSSH\\ssh.exe'
	{  end }
	{{ end }}

[url "git@github.com:"]
	insteadOf = https://github.com/
